<ion-header>
  <ion-navbar>
    <ion-title>Ionic de Javier</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    
  <h2><ion-icon name="globe"></ion-icon> Ionic de Javier de los Santos López</h2>
  
  
</ion-content>
